* {
    margin: 0;
}

body {
    background-color: aquamarine;
    height: 100%;
}

header {
    background-color: black;
    color: white;
    width: 100%;
}

ul {
    list-style: none;
}

img {
    width: 450px;
}



h2 {
    text-align: center;
}

.container {
    display: flex;
}

.side-bar {
    flex-basis: 30%;
}

.work-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

}


.work-links>li {
    flex-basis: 300px;
}

.work-links li img {
    object-fit: cover;

}

#first-img {
    width: 900px;

}

@media screen and (max-width: 1060px) {
    #first-img {
        width: 100%;
    }

    img {
        width: 100%;
    }

    .work-links {
        flex-direction: column;
    }

    .side-bar {
        flex-basis: 10%;
    }
}

}