/* General CSS */

* {
    margin: 0;
}

body {
    background-color: rgb(228, 226, 226);
    height: 100%;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    position: relative;
}

a,
a:visited {
    text-decoration: none;
    color: white;

}

ul {
    list-style: none;
}

li {
    padding: 15px;

}

img {
    width: 450px;
}

p {
    margin: 0 80px;
    font-size: 20px;
    padding: 40px 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}


h2 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    display: block;
    margin: auto;
}

/* Header */

.header-footer-links {
    display: flex;
    padding: 15px;
}

#header-links {

    justify-content: flex-end;

}

#footer-links {
    justify-content: space-around;
    margin: auto;
}

/* Rules related to main site image */

.hero {
    background-image: url("./images/hero.jpg");
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

}

.hero-head {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* flexbox container */

.container {
    display: flex;
}

/* General side bar */

.side-bar {
    flex-basis: 30%;
}

/* Related to work section */

.work-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

}

.img-container {
    position: relative;
}

.img-caption {
    position: absolute;
    top: 45px;
    background-color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    max-width: 150px
}


.work-links>li {
    flex-basis: 300px;
}

.work-links li img {
    object-fit: cover;


}

/* Related to about section */


.about-content {
    flex-basis: 70%;
    justify-content: center;
    padding: 40px;


}

#portrait {
    border-radius: 50%;
    width: 80px;

    margin: auto;
    left: 3%;
    position: absolute;



}

/* Footer */

.contact-content {
    text-align: center;
    width: auto;
    flex-basis: 70%;
    padding: 60px 0
}

#footer-links {
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;


}

.site-links a {
    color: black;
}

/* First image in grid */

#first-img {
    width: 900px;

}

/* Media queries */

/* Tablet */

@media screen and (max-width: 1033px) {
    #first-img {
        width: 630px;
    }

    img {
        width: 100%;
    }

    .work-links {
        flex-direction: row;
    }

    .side-bar {
        flex-basis: 10%;
    }
}

/* Phone */

@media screen and (max-width: 704px) {
    #first-img {
        width: 100%;
    }

    img {
        width: 100%;
    }

    .work-links {
        flex-direction: column;
        gap: 0;
    }

    .side-bar {
        width: 10%;
    }

    h2 {
        font-size: 20px;
    }

    p {
        margin: 20px;
    }


}