* {
    margin: 0;
}

body {
    background-color: aquamarine;
    height: 100%;
}

header {
    background-color: black;
    color: white;
}

ul {
    list-style: none;
}

img {
    max-width: 75%;
}

.content-container {
    display: flex;
}

.content-head {
    width: 25%;
    background-color: blueviolet;

}

.content-body {
    width: 75%;
    background-color: chartreuse;

}

#work-panels {
    display: flex;
    flex-direction: column;


}

.work-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;



}